@use "variables" as *;

.frow_third__col {
  background-color: $dyellow;
}

.srow_second__col {
  background-color: red;
}

.srow_third__col {
  background-color: $dyellow;
}

.throw_second__col {
  background-color: red;
}

.forow_second__col {
  background-color: black ;
}