@use "variables" as *;

.frow_third__col {
  background-color: $dyellow;
}

.srow_second__col {
  background-color: red;
}

.srow_third__col {
  background-color: $dyellow;
}

.throw_second__col {
  background-color: red;
}

.forow_second__col {
  background-color: black;
}

.firow_first__col {
  background-color: $dyellow;
}
.firow_fourth__col {
  background-color: $dblue;
}

.firow_fifth__col {
  background-color: red;
}

.sirow_third__col {
  background-color: black;
}