@use "normalize" as *;
@use "variables" as *;
@use "table_cells";

body {
  background-image: url("../../assets/images/back.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center center;
  background-size: cover;
}

h1 {
  text-align: center;
}

[class*="__col"] {
  border: 3px solid black;
}

.table {
  height: 480px;
  width: 480px;
  margin-inline: auto;
}
//First row
.frow_first__col {
  grid-area: frow_first__col;
}

.frow_second__col {
  grid-area: frow_second__col;
}

.frow_third__col {
  grid-area: frow_third__col;
}

.frow_fourth__col {
  grid-area: frow_fourth__col;
}
//Second row
.srow_first__col {
  grid-area: srow_first__col;
}
.srow_second__col{
  grid-area: srow_second__col;
}
.srow_third__col {
  grid-area: srow_third__col;
}
.srow_fourth__col {
  grid-area: srow_fourth__col;
}
//Third row
.throw_first__col {
  grid-area: throw_first__col;
}
.throw_third__col {
  grid-area: throw_third__col;
}
.throw_fourth__col {
  grid-area: throw_fourth__col;
}
//Fourth row
.forow_second__col {
  grid-area: forow_second__col;
}
.forow_third__col {
  grid-area: forow_third__col;
}
.forow_fourth__col {
  grid-area: forow_fourth__col;
}
//Fifth row
.firow_first__col {
  grid-area: firow_first__col;
}
.firow_third__col {
  grid-area: firow_third__col;
}
.firow_fourth__col {
  grid-area: firow_fourth__col;
}
.firow_fifth__col {
  grid-area: firow_fifth__col;
}
//Sixth row
.sirow_second__col {
  grid-area: sirow_second__col;
}
.sirow_third__col {
  grid-area: sirow_third__col;
}
//Seventh row
.sevrow_third__col {
  grid-area: sevrow_third__col;
}



.table {
  border: 3px solid black;
  background-color: white;
  display: grid;
  grid-template-areas:
  "frow_first__col frow_first__col frow_second__col frow_second__col frow_second__col frow_third__col frow_third__col frow_fourth__col"
  "srow_first__col srow_second__col srow_second__col srow_second__col srow_second__col srow_third__col srow_third__col frow_fourth__col"
  "throw_first__col srow_second__col srow_second__col srow_second__col srow_second__col throw_third__col throw_fourth__col frow_fourth__col"
  "throw_first__col forow_second__col forow_second__col forow_third__col forow_third__col forow_fourth__col forow_fourth__col frow_fourth__col"
  "firow_first__col forow_second__col forow_second__col firow_third__col firow_third__col firow_fourth__col firow_fourth__col firow_fifth__col"
  "firow_first__col sirow_second__col sirow_second__col sirow_third__col sirow_third__col firow_fourth__col firow_fourth__col firow_fifth__col"
  "firow_first__col sirow_second__col sirow_second__col sevrow_third__col sevrow_third__col sevrow_third__col sevrow_third__col firow_fifth__col";
  grid-template-rows: 50px 130px 130px 60px 60px 25px 25px;
  grid-template-columns: 45px 65px 65px 65px 65px 75px 75px 25px;
}