@use "normalize" as *;
@use "variables" as *;
@use "table_cells";

[class*="__col"] {
  border: 1px solid black;
}

.table {
  height: 100vh;
  width: 100%;
}

.frow_first__col {
  grid-area: frow_first__col;
}

.frow_second__col {
  grid-area: frow_second__col;
}

.frow_third__col {
  grid-area: frow_third__col;
}

.frow_fourth__col {
  grid-area: frow_fourth__col;
}

.srow_first__col {
  grid-area: srow_first__col;
}
.srow_second__col{
  grid-area: srow_second__col;
}
.srow_third__col {
  grid-area: srow_third__col;
}
.srow_fourth__col {
  grid-area: srow_fourth__col;
}
.throw_first__col {
  grid-area: throw_first__col;
}
.throw_second__col {
  grid-area: throw_second__col;
   }
.throw_third__col {
  grid-area: throw_third__col;
}
.throw_fourth__col {
  grid-area: throw_fourth__col;
}
.forow_first__col {
  grid-area: forow_first__col;
}
.forow_second__col {
  grid-area: forow_second__col;
}
.forow_third__col {
  grid-area: forow_third__col;
}
.forow_fourth__col {
  grid-area: forow_fourth__col;
}
.forow_fifth__col {
  grid-area: forow_fifth__col;
}
.firow_first__col {
  grid-area: firow_first__col;
}
.firow_second__col {
  grid-area: firow_second__col;
}
.firow_third__col {
  grid-area: firow_third__col;
}
.firow_fourth__col {
  grid-area: firow_fourth__col;
}
.firow_fifth__col {
  grid-area: firow_fifth__col;
}
.sirow_first__col {
  grid-area: sirow_first__col;
}
.sirow_second__col {
  grid-area: sirow_second__col;
}
.sirow_third__col {
  grid-area: sirow_third__col;
}
.sirow_fourth__col {
  grid-area: sirow_fourth__col;
}
.sirow_fifth__col {
  grid-area: sirow_fifth__col;
}
.sevrow_first__col {
  grid-area: sevrow_first__col;
}
.sevrow_second__col {
  grid-area: sevrow_second__col;
}
.sevrow_third__col {
  grid-area: sevrow_third__col;
}
.sevrow_fourth__col {
  grid-area: sevrow_fourth__col;
}
.sevrow_fifth__col {
  grid-area: sevrow_fifth__col;
}


.table {
  display: grid;
  grid-template-areas:
  "frow_first__col frow_first__col frow_second__col frow_second__col frow_second__col frow_third__col frow_third__col frow_fourth__col"
  "srow_first__col srow_second__col srow_second__col srow_second__col srow_second__col srow_third__col srow_third__col frow_fourth__col"
  "throw_first__col throw_second__col throw_second__col throw_second__col throw_second__col throw_third__col throw_fourth__col frow_fourth__col"
  "throw_first__col forow_second__col forow_second__col forow_third__col forow_third__col forow_fourth__col forow_fourth__col frow_fourth__col"
  "firow_first__col forow_second__col forow_second__col firow_third__col firow_third__col firow_fourth__col firow_fourth__col firow_fifth__col"
  "firow_first__col sirow_second__col sirow_second__col sirow_third__col sirow_third__col sirow_fourth__col sirow_fourth__col firow_fifth__col"
  "firow_first__col sirow_second__col sirow_second__col sevrow_third__col sevrow_third__col sevrow_third__col sevrow_third__col firow_fifth__col";
}